<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Job</title>


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_job_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>


  <div id="container">
    <nav class="navbar navbar-light bg-light justify-content-apart navbar-dark bg-dark" style="height: 100px">
      <h2 style="color:white;">Hello {{ current_user.first_name }}! Let's edit your job!</h2>
      <a href="/logout">Log Out</a>
    </nav>


    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}


    <div id="box">
      <form action='/jobs/update_job/{{ job.id}}' method='post' class="form-group">
        {% csrf_token %}
        <label for="title" style="padding-right: 20px; width: 300px;">Title</label> 
        <input type="text" name="title" value="{{ job.title }}" style="width: 300px; margin: 10px 0px;">
        <label for="description" style="padding-right: 20px; width: 300px;">Description</label> 
        <input type="text" name="description" value="{{ job.description }}" style="width: 300px; margin: 10px 0px;">
        <label for="Location" style="padding-right: 20px; width: 300px;">Location</label> 
        <input type="text" name="location" value="{{ job.location }}" style="width: 300px; margin: 10px 0px;">
        
        <div>
          <a href="/dashboard" class="button" style="margin-left: 200px;">Cancel</a> 
          <button>Submit</button>
        </div>
      </form>
    </div>
    
      
  </div>
</body>
</html>